/* Navbar container */

@media (max-width: 1024px) {
  .navbar {
    position: fixed; /* or absolute, relative as needed */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure this is higher than the ul's z-index */
    background-color: white;
  }
  .navbar ul {
    position: absolute; /* or fixed if you want it to stick to the viewport */
    top: 100%; /* Position below the Navbar */
    left: 0%;
    z-index: 500; /* Lower than Navbar's z-index */
    transition: left 0.5s ease-in-out;
    background-color: #f1f1f1; /* Ensure this matches your design */
  }
}

/* Dropdown menu */
